<!DOCTYPE html>
<html>
<body>
	
	<hr>
		<h2>Novo Contato</h2>
	<hr>
	
	<form class="form-horizontal" role="form" name="contatoForm">
					<div class="form-group">
						<label for="_nome" class="col-sm-2 control-label">Nome</label>
						<div class="col-sm-5">
							<input id="_nome" type="text" class="form-control" placeholder="Nome" ng-model="contato.nome" ng-required="true">
						</div>
					</div>
					
					<div class="form-group">
						<label for="_email" class="col-sm-2 control-label">E-mail</label>
						<div class="col-sm-5">
							<input id="_email" type="email" class="form-control" placeholder="E-mail" ng-model="contato.email" ng-required="true">
						</div>
					</div>
					
					<div class="form-group">
						<label for="_tipoContato" class="col-sm-2 control-label">Tipo Contato</label>
						<div class="col-sm-5">
							<select ng-model="contato.tipoContato" ng-options="contato.tipoContato for tipo in contatoTipos" class="form-control">
							
							</select>
						</div>
					</div>
					
					<div id="_telefones">
					
						<div class="form-group">
							<label for="_ddd" class="col-sm-2 control-label">Telefone</label>
							<div class="col-sm-2">
								<input id="_ddd" type="text" class="form-control" placeholder="DDD">
							</div>
							<div class="col-sm-3">
								<input id="_telefone" type="text" class="form-control" placeholder="Telefone" >
							</div>
						</div>
						
						<div class="form-group">
							<label for="_tipoTelefone" class="col-sm-2 control-label">Tipo Telefone</label>
							<div class="col-sm-5">
								<select id="_tipoTelefone" class="form-control">
									  <option ng-repeat="tipo in telefoneTipos">
									  	{{tipo}}
									  </option>
								</select>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
			</form>

	<hr>
		<h2>Contatos</h2>
	<hr>
	
	<br>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Tipo Contato</th>
				<th>Telefones</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contato in contatos" id="_contato">
				<th scope="row">{{contato.id}}</th>
				<td>{{contato.nome}}</td>
				<td>{{contato.email}}</td>
				<td>{{contato.tipoContato}}</td>
				<td>
					<div ng-repeat="telefone in contato.telefones">
						({{telefone.ddd}}) {{telefone.telefone}} [{{telefone.tipoTelefone}}]
					</div>
				</td>
				<td>
					<a id="_editar" href ng-click="edit(contato)" class="btn btn-default" role="button">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
					<a id="_remover" href ng-click="remove(contato)" class="btn btn-default" role="button">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>